<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Contact Us</title>
        <meta charset="UTF-8">
        <meta name="aurthor" content="Sreemann">
        <meta name="Description" content="Contact Me">
        <link rel="stylesheet" href="D:\Programing and Projects\Html & Css Project_1\Program\static\center.css">
        <link rel="icon" type="image/png" href="D:\html&css course\Project_1\Photos\icon.png">
    </head>
    <body>
      <header>
        <h1>Contact Us</h1>
      </header>
        <div class="box">
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="D:\Programing and Projects\Html & Css Project_1\Program\templates\Hours.html">Our Menu</a></li>
            <li><a href="#" class="active">Contact Us</a></li>
        </ul>
      </div>
      <br>
        <main>
        <article id="Contact">
            <form action="https://httpbin.org/get" method="get">
            <fieldset>
               <div class="center">
                  <img src="D:\Programing and Projects\Html & Css Project_1\Photos\WhatsApp Image 2024-12-26 at 9.06.49 AM.jpeg" width="500" height="500">
                  </div>
               <legend style="color: #9d4edd;">Send us your feedback</legend> 
               <p> 
                <label for="Name">Name:</label>
                <input type="text" name="Name" id="Name" placeholder="Gustavo Fring" autocomplete="on">
             </p>
             <p>
                <label for="Email">Email:</label>
                <input type="email" name="Email" id="Email" placeholder="Gus@gmail.com">
             </p>
             <p>
                <label for="password">Password:</label>
                <input type="password" name="password" id="password" autocomplete="off">
             </p>
             <p>
                <label for="message">Your Message:</label>
                <br>
                <textarea id="message" name="message" cols="30" rows="15" placeholder="Leave a note here"></textarea>
             </p>
             <button type="submit">Submit</button>
             <button type="reset">Reset</button> 
             <h2>Our Location</h2>
             <address> ACA Complex,2nd Floor,<br>
                &nbsp;5th street BTM layout,<br>
                     &nbsp;&nbsp;bengaluru,Karnataka<br><br>
                     Phone:<a href="tel:8088227971">8088227971</a>
             </address>
               <br>
            </ul>
            </fieldset>
            </form>
         </main>
         <br>
            <footer>
            Copyrights&copy;Taco Bell
         </footer>
        </article>
    </body>
</html>